<div class="wrapper">

    <div id="free" class="row">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/42.png" alt="Logo 42">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/42.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/41.png" alt="Logo 41">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/41.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/40.png" alt="Logo 40">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/40.zip" download>Download</a>
        </div>

    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/39.png" alt="Logo 39">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/39.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/38.png" alt="Logo 38">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/38.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/37.png" alt="Logo 37">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/37.zip" download>Download</a>
        </div>

    </div>


    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/36.png" alt="Logo 36">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/36.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/35.png" alt="Logo 35">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/35.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/34.png" alt="Logo 34">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/34.zip" download>Download</a>
        </div>

    </div>


    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/33.png" alt="Logo 33">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/33.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/32.png" alt="Logo 32">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/32.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/31.png" alt="Logo 31">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/31.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/30.png" alt="Logo 30">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/30.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/29.png" alt="Logo 29">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/29.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/28.png" alt="Logo 28">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/28.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/27.png" alt="Logo 27">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/27.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/26.png" alt="Logo 26">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/26.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/25.png" alt="Logo 25">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/25.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/24.png" alt="Logo 24">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/24.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/23.png" alt="Logo 23">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/23.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/22.png" alt="Logo 22">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/22.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/21.png" alt="Logo 21">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/21.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/20.png" alt="Logo 20">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/20.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/19.png" alt="Logo 19">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/19.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/18.png" alt="Logo 18">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/18.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/17.png" alt="Logo 17">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/17.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/16.png" alt="Logo 16">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/16.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/15.png" alt="Logo 15">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/15.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/14.png" alt="Logo 14">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/14.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/13.png" alt="Logo 13">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/13.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/12.png" alt="Logo 12">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/12.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/11.png" alt="Logo 11">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/11.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/10.png" alt="Logo 10">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/10.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/9.png" alt="Logo 9">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/9.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/8.png" alt="Logo 8">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/8.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/7.png" alt="Logo 7">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/7.zip" download>Download</a>
        </div>

    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/6.png" alt="Logo 6">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/6.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/5.png" alt="Logo 5">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/5.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/4.png" alt="Logo 4">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/4.zip" download>Download</a>
        </div>

    </div>

    <div class="row pt-2 pb-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/3.png" alt="Logo 3">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/3.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/2.png" alt="Logo 2">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/2.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/1.png" alt="Logo 1">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/1.zip" download>Download</a>
        </div>

    </div>

</div>