<div class="wrapper">

<div id="free" class="row pt-2 pb-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/32.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/31.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/30.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

	<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/29.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/28.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/27.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

	<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/26.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/25.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/24.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

		<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/23.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/22.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/21.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

		<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/20.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/19.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/18.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

		<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/17.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/16.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/15.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

			<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/14.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/13.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/12.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

			<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/11.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/10.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/9.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

			<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/8.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/7.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/6.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

			<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/5.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/4.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/3.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

			<div class="row pt-2 pb-2">

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/2.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

<div class="col-sm center">
	<div class="box">
		<img src="/assets/img/1.png">
	</div>
	<a class="button-download" href="" download>Download</a>
</div>

	</div>

</div>