<div class="wrapper">

    <div id="free" class="row">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/42.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/42.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/41.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/41.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/40.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/40.zip" download>Download</a>
        </div>

    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/39.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/39.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/38.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/38.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/37.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/37.zip" download>Download</a>
        </div>

    </div>


    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/36.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/36.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/35.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/35.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/34.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/34.zip" download>Download</a>
        </div>

    </div>


    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/33.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/33.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/32.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/32.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/31.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/31.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/30.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/30.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/29.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/29.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/28.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/28.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/27.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/27.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/26.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/26.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/25.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/25.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/24.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/24.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/23.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/23.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/22.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/22.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/21.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/21.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/20.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/20.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/19.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/19.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/18.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/18.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/17.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/17.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/16.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/16.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/15.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/15.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/14.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/14.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/13.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/13.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/12.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/12.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/11.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/11.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/10.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/10.zip" download>Download</a>
        </div>



    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/9.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/9.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/8.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/8.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/7.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/7.zip" download>Download</a>
        </div>

    </div>

    <div class="row pt-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/6.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/6.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/5.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/5.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/4.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/4.zip" download>Download</a>
        </div>

    </div>

    <div class="row pt-2 pb-2">

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/3.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/3.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/2.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/2.zip" download>Download</a>
        </div>

        <div class="col-sm center">
            <div class="box">
                <img src="{{ site.url }}/assets/img/1.png">
            </div>
            <a class="button-download" href="{{ site.url }}/assets/logos/1.zip" download>Download</a>
        </div>

    </div>

</div>